<section class="about-container">
    <div class="about-content">
      <h4>ABOUT US</h4>
      <h1>
        Get <span>Guaranteed Peace Of Mind</span> With Our Australian Migration Advisors
      </h1>
      <p>
        Our Australian, Arabic, and Indian immigration lawyers in Melbourne provide  
        tailor-made assistance for one and all.
      </p>
  
      <p>
        Flyworld Migration is one of the <strong>top Australian immigration firms</strong>,  
        providing trusted visa services including:
      </p>
  
   
      <div class="visa-grid">
        <div class="visa-item">🎓 Student Visa</div>
        <div class="visa-item">💼 Work Visa</div>
        <div class="visa-item">❤️ Partner Visa</div>
        <div class="visa-item">👨‍👩‍👧‍👦 Parent Visa</div>
        <div class="visa-item">🌏 Tourist Visa</div>
        <div class="visa-item">🏆 Skilled Visa</div>
        <div class="visa-item">📈 Business Visa</div>
        <div class="visa-item">🏢 Employer Sponsored Visa</div>
        <div class="visa-item">🔄 Visa Extension</div>
      
      </div>
  
      <p>
        Whether you’re planning to study, work, reunite with loved ones, or explore business opportunities in Melbourne,  
        <strong>we are here to help.</strong>
      </p>
  
 
      <div class="experience-box">
        <h2>✨ 12 Years Experience</h2>
        <p>Best Immigration Lawyers</p>
      </div>
    </div>
  

    <div class="about-images">
      <div class="image-wrapper">
        <img src='../../../assets/images/team.avif'  class="main-img"/>
        <img src='../../../assets/images/young-beautiful-woman-tourist-wearing-summer-hat-red-sunglasses-holding-travel-suitcase-tickets-with-passport-pointing-with-finger-looking-positive-happy-blue-b_141793-13447.avif'  class="overlay-img"/>
        <img src='../../../assets/images/travel-concept-with-baggage_23-2149153260.avif' class="angled-img"/>
      </div>
    </div>
  </section>
  