<app-navbar></app-navbar>

<header class="hero">
 

  <div class="hero-container">
  
    <div class="hero-text">
      <h1>Your <span style="    color: #0800e6;"> Journey</span> to a New Life Starts Here</h1>
      <p>
        We offer trusted, fast, and expert visa solutions for students, professionals, 
        and families moving to Australia. Start your migration process with confidence!
      </p>
      <ul>
        <li>✔ Expert Guidance for Visa Applications</li>
        <li>✔ Hassle-Free Documentation Support</li>
        <li>✔ 24/7 Customer Assistance</li>
      </ul>
      <button class="cta-button" (click)="scrollToBooking()">Book an Appointment</button>


    </div>

   
    <div class="hero-image">
      <img src="../../../assets/images/piccc.png" alt="Visa Assistance">
    </div>
  </div>
</header>
