<div class="service-coverage-container">
    <div class="service-coverage">

      <div class="coverage-content">
        <h4 class="mb-2">OUR SERVICE</h4>
        <h2>Australia-Wide Service Coverage</h2>
        <p>We provide expert immigration services across Australia.</p>
  
        <div class="locations">
          <div><span class="bullet"></span> Sydney</div>
          <div><span class="bullet"></span> Melbourne</div>
          <div><span class="bullet"></span> Brisbane</div>
          <div><span class="bullet"></span> Perth</div>
          <div><span class="bullet"></span> Adelaide</div>
          <div><span class="bullet"></span> Gold Coast</div>
          <div><span class="bullet"></span> Canberra</div>
          <div><span class="bullet"></span> Hobart</div>
          <div><span class="bullet"></span> Darwin</div>
          <div><span class="bullet"></span> Adelaide</div>
          <div><span class="bullet"></span> Sunshine Coast</div>
          <div><span class="bullet"></span> Parramatta</div>

        </div>
      </div>
  

      <div class="coverage-video">
        <video controls autoplay loop muted>
          <source src="../../../assets/videos/aus.webm" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
  </div>
  